.view-top { margin-bottom: 50px; padding-top: 60px; }
.title { display: flex; margin-bottom: 20px; align-items: center; justify-content: space-between; font-size: 32px; font-weight: bold; }
.write-info { display: flex; gap: 15px; }
.write-info > li { position: relative; font-size: 20px; font-weight: bold; }
.write-info > li:not(:first-child)::after { position: absolute; width: 2px; height: 10px; top: 50%; left: -8px; transform: translateY(-50%); background-color : var(--color-gray); content: ""; }

dl { display: flex; font-size: 20px; }
dl > * { font-size: 20px; font-weight: bold; }
dl > dt { width: 102px; margin-right: 20px; }
dl > dd > a { font-size: 20px; font-weight: bold; color: var(--color-1); }
.content { margin-top: 40px; padding-top: 40px; font-size: 20px; font-size: 20px; border-top: 1px solid var(--color-gray); white-space: pre; }