.horizontal_4 { display: flex; width: 100%; margin-top: 40px; flex-wrap: wrap; gap: 15px; }
.horizontal_4 > * { width: calc(25% - 11.3px); cursor: pointer; }

.horizontal_2 { display: flex; width: 100%; flex-wrap: wrap; gap: 15px; }
.horizontal_2 > * { width: calc(50% - 7.5px); cursor: pointer; }

@media all and (max-width:1280px) {
    .horizontal_4 > * { width: calc(50% - 7.5px); cursor: pointer; }
}

@media all and (max-width:768px) {
    .horizontal_4 > * { width: 100%; cursor: pointer; }
    .horizontal_2 > * { width: 100%;; cursor: pointer; }
}